---
title: Installing and Configuring New Relic Nozzle for PCF
owner: Partners
---

This topic describes how to install and configure New Relic Nozzle for Pivotal Cloud Foundry (PCF).

You can either install the New Relic Nozzle for PCF as a tile in Ops Manager, or push it as a regular application.


## <a id='install-opsmgr'></a> Install and Configure New Relic Nozzle for PCF as a Tile in Ops Manager

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/nr-firehose-nozzle/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click the **+** sign next to the version number of New Relic Nozzle for PCF. This adds the tile to your staging area.

1. Click the newly added **New Relic Nozzle for PCF** tile.

1. Follow the steps below to configure the nozzle tile:
  * Under **New Relic Firehose Nozzle > Settings > Assign AZs and Networks:**
    - Select your desired networks.
    - Click **Save**.
  * Under **New Relic Firehose Nozzle > Settings > New Relic Firehose Nozzle**, set the following fields:
    - New Relic Insights Base URL: `https://insights-collector.newrelic.com/v1`
    - New Relic RPM Account ID: `YOUR-NEW-RELIC-RPM-ACCOUNT`
    - New Relic Insights Insert Key: `YOUR-NEW-RELIC-INSIGHTS-INSERT-KEY`
    - New Relic Insights Maximum Number of Events: A value between 50 and 950 (Default is 500)
    - Nozzle instance: defaults to 3. Specify between 1 to 20 instance(s) depending on the load of Firehose events.
    - Skip SSL Verification (True/false): Whether to verify SSL connection
    - Firehose Subscription ID: Unique Subscription Identifier (i.e. `newrelic.firehose`)
    - Selected Events: Comma-separated list of event types
    - App Detail Collection Interval: interval for querying application details (defaults to 1 minute)
  * If your environment uses a proxy server, add the following environment variables:
    - `http_proxy`: `proxy server address:port`
    - `no_proxy`: comma-separated list of servers to bypass proxy
  * Under **New Relic Firehose Nozzle tile > Settings > New Relic Firehose Global Exclusion Filters** tab, set the following fields:
    - Global Deployments Exclusion Filters: Comma-separated list of deployments to exclude (optional)
    - Global Origins Exclusion Filters: Select from pull down list of origins to exclude (optional)
    - Global Jobs Exclusion Filters: Select from pull down list of jobs to exclude (optional)
  * Under **New Relic Firehose Nozzle tile > Settings > New Relic Firehose ValueMetric Inclusion Filters** tab, set the following fields:
    - ValueMetric Deployment Inclusion Filters: Comma-separated list of deployments to include (optional)
    - ValueMetric Origin Inclusion Filters: Select from pull down list of ValueMetric origins to include (optional)
    - ValueMetric Jobs Inclusion Filters: Select from pull down list of ValueMetric jobs to include (optional)
    - ValueMetric Metric Name Inclusion Filters: Select from pull down list of ValueMetric Names to include (optional)

### <a id='obtain-config-values'></a> Where to Obtain Configuration Values

The following properties can be obtained either from Pivotal Application Service or from New Relic Insights:

   * Firehose Subscription ID: A unique ID (i.e. `newrelic.firehose`)
   * Skip SSL: If SSL is disabled, this value should be set to `true`.
   * Selected Events: A comma-separated list of any of the following Firehose event types:
    - ValueMetric
    - CounterEvent
    - ContainerMetric
    - HttpStartStop
    - LogMessage
   * Insights Base URL: `https://insights-collector.newrelic.com/API-VERSION` (API version is currently v1)
   * Insights RPM ID: The first number that you find in your RPM Url (i.e. `https://insights.newrelic.com/accounts/RPM-ID/...`)
   * Insights Insert Key: An insert key from `https://insights.newrelic.com/accounts/RPM-ID/manage/api_keys`.
   * User Name: `Ops Manager -> Pivotal Application Service -> Credentials -> Job -> UAA -> Opentsdb Nozzle Credentials -> Link to Credential -> identity` </br>(Only for Application push)
   * Password: `Ops Manager -> Pivotal Application Service -> Credentials -> Job -> UAA -> Opentsdb Nozzle Credentials -> Link to Credential -> password` </br>(Only for Application push)
   * UAA URL: `https://uaa.YOUR-PCF-DOMAIN`  --  `cf curl /v2/info` </br>(Only for Application push)
   * Traffic Controller URL: `wss://doppler.PCF-DOMAIN:SSL-PORT`  --  `cf curl /v2/info` </br>(Only for Application push)
   * Admin User Name: `Ops Manager -> Pivotal Application Service -> Credentials -> Job -> UAA -> Admin Credentials -> Link to Credential -> identity` </br>(Only for Application push)
   * Admin Password: `Ops Manager -> Pivotal Application Service -> Credentials -> Job -> UAA -> Admin Credentials -> Link to Credential -> password` </br>(Only for Application push)

1. As an admin user in the New Relic UI, you can go to **New Relic Insights > Manage Data > API Keys** to obtain an insert key. If you have an existing key, you can use it. If you do not already have one, you can create a fresh insert key specifically for this purpose.

1. Click **Save**. 

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.


## <a id='install-app'></a> Install and Configure New Relic Nozzle for PCF as an Application

When pushing New Relic Nozzle for PCF as an application, you need to have a manifest with the following properties:

```
	applications:
	- name: newrelic-firehose-nozzle
      memory: 512M
      instances: 3
      health-check-type: none
      host: cf-firehose-nozzle-${random-word}
      buildpacks:
      - binary_buildpack
      path: ./dist
      command: ./nr-nozzle
      env:
        NOZZLE_USERNAME: NOZZLE-USER
        NOZZLE_PASSWORD: NOZZLE-PASSWORD
        NOZZLE_API_URL: https://api.YOUR-PCF-DOMAIN
        NOZZLE_UAA_URL: https://uaa.YOUR-PCF-DOMAIN
        NOZZLE_TRAFFIC_CONTROLLER_URL: wss://doppler.YOUR-PCF-DOMAIN:SSL-PORT
        NOZZLE_FIREHOSE_SUBSCRIPTION_ID: newrelic.firehose
        NOZZLE_SKIP_SSL: true/false
        NOZZLE_SELECTED_EVENTS: Comma-separated list of event types
        NOZZLE_ADMIN_USER: ADMIN-USER with admin privileges to obtain all application details in all orgs/spaces
        NOZZLE_ADMIN_PASSWORD: ADMIN-PASSWORD password for the user with admin privileges
        NOZZLE_APP_DETAIL_INTERVAL: interval for querying application details (defaults to 1 minute)
        NEWRELIC_INSIGHTS_BASE_URL: https://insights-collector.newrelic.com/v1
        NEWRELIC_INSIGHTS_RPM_ID: NEW-RELIC-RPM-ACCOUNT-ID
        NEWRELIC_INSIGHTS_INSERT_KEY: INSIGHTS-INSERT-KEY
        NEWRELIC_NOZZLE_VERSION: 1.1.15    # current version
        NEWRELIC_INSIGHTS_MAX_EVENTS: 500  # range 50 - 950 - default value is 500 - If sending LogMessage events, do not increase this value

        # http_proxy: PROXY-SERVER-ADDRESS:PORT
        # no_proxy: COMMA-SEPARATED-LIST-OF-SERVERS-TO-BYPASS-PROXY

        NOZZLE_SELECTED_EVENTS: Comma-separated list of firehose event types

        NOZZLE_GLOBAL_DEPLOYMENT_EXCLUSION_FILTERS: Comma-separated list of deployments to exclude (optional)
        NOZZLE_GLOBAL_ORIGIN_EXCLUSION_FILTERS: JSON array of origins to exclude (optional)
        NOZZLE_GLOBAL_JOB_EXCLUSION_FILTERS: JSON array of jobs to exclude (optional)

        NOZZLE_VALUEMETRIC_DEPLOYMENT_INCLUSION_FILTERS: Comma-separated list of deployments to include (optional)
        NOZZLE_VALUEMETRIC_ORIGIN_INCLUSION_FILTERS: JSON array of valuemetric origins to include (optional)
        NOZZLE_VALUEMETRIC_JOB_INCLUSION_FILTERS: JSON array of valuemetric jobs to include (optional)
        NOZZLE_VALUEMETRIC_METRIC_INCLUSION_FILTERS: JSON array of valuemetric metric names to include (optional)
```

<p class="note"><strong>Note:</strong> In order to automate the <code>cf push</code> deployment process as much as possible, create an application <code>manifest.yml</code> file. Update the manifest as required for your environment. Make sure to assign proper values to all required environment variables. Any property values within angle brackets must be changed to the correct values for your environment.</p>

<p class="note"><strong>Note:</strong> Maske sure to build the nozzle binary in <strong>"dist"</strong> subdirectory (using the build command below), so that when you push the app, the source and rest of the unnecessary files/folders do not get pushed into the container.</p>

### <a id='app-build'></a> Application Build and Deploy

The application is already built and ready to run on PCF. If you make any changes to the code, or would like to run on other operating systems, you can rebuild the binary.

<pre>
$ env GOOS=&lt;OS-name&gt; GOARCH=amd64 go build -o dist/nr-nozzle
$ cf push
</pre>

You can obtain a complete list of valid `OS-name` and `ARCH` types from [Go Lang docs](https://golang.org/doc/install/source).

Once you build the binary and update the `manifest.yml` file with proper values, you can `cf push` the tile as an application.


## <a id='using-proxy'></a> Using Proxy Servers

If you need to use a proxy server in your environment, use the following environment variables:

* `http_proxy`
* `no_proxy`

You can specify the values for these properties during the setup of the tile in Ops Manager. If you use the app version of the Nozzle (running by `cf push`), you can set these environment variables at the end of the manifest.yml in the **env** section, or you can set them directly by running `cf set-env` as a CLI command.

### <a id='notes'></a> Notes
   
* These environment variables must be in lower case.
* You must set `http_proxy` to your proxy server address and port (i.e. `http://my_proxyserver:my_proxy_port`).
* You must set `no_proxy` to any address that you need to bypass. In order for the nozzle to work properly with proxies, you must bypass the `doppler` server (`doppler.YOUR-PCF-DOMAIN.com`). Make sure you do not include the protocol and the port for `no_proxy`. Just add the server name.
