---
title: Release Notes for New Relic Nozzle for PCF
owner: Partners
---

These are release notes for New Relic Nozzle for PCF.

##<a id="ver-0.8.0"></a> v0.8.0 (Public Beta)

**Initial Public Beta Release Date:** November 21, 2017

Features included in this release:

* Initial public beta release
* Added proxy support


