---
title: Release Notes for New Relic Nozzle for PCF
owner: Partners
---


These are release notes for New Relic Nozzle for PCF.

##<a id="ver-0.8.0"></a> v0.8.0 (Public Beta)

**Initial Public Beta Release Date:** November 15, 2017

Features included in this release:

* Initial public beta
* Added proxy support


##<a id="ver-0.0.8"></a> v0.0.8 (Private Beta)

**Initial Private Beta Release Date:** June 29, 2017

Features included in this release:

* Initial private beta
* Collects all Firehose event types (Value Metrics, Counter Events, Container Metrics, HttpStartStop, LogMessages)
* In New Relic Insights pre-built dashboards would visualize each Firehose event type in a separate dashboard.
* Capture PCF components metrics.
* capture application container vitals (cpu, memory, disk, etc.)
