---
title: Release Notes for New Relic Nozzle for Pivotal Platform
owner: Partners
---

These are release notes for New Relic Nozzle for Pivotal Platform.


## <a id="ver-1.1.21"></a> v1.1.21

**General Availability Release Date:** September 19, 2019

Features included in this release:

* Fixed problem with printing error logs
* Tested on Pivotal Platform up to and including v2.6


## <a id="ver-1.1.20"></a> v1.1.20

**General Availability Release Date:** August 23, 2019

Features included in this release:

* Added support for New Relic EU data center
* Tested on Pivotal Platform up to and including v2.6


## <a id="ver-1.1.19"></a> v1.1.19

**General Availability Release Date:** July 22, 2019

Features included in this release:

* Added New Relic Insights GO library for improved connection to New Relic Insights
* Improved error handling and error messages
* Added accessors to obtain system information during the tile configuration
* Tested on Pivotal Platform up to and including v2.6


## <a id="ver-1.1.17"></a> v1.1.17

**General Availability Release Date:** June 24, 2019

Features included in this release:

* updated to BOSH Release 1.16.0 (corresponds to version 6.45.0 of the CF CLI)
* Tested on Pivotal Platform up to and including v2.6


## <a id="ver-1.1.16"></a> v1.1.16

**General Availability Release Date:** January 24, 2019

Features included in this release:

* Added HTTP healthcheck
* Improved error handling when connecting to other systems
* Tested on Pivotal Platform v2.3 and v2.4


## <a id="ver-1.1.14"></a> v1.1.14

**General Availability Release Date:** December 13, 2018

Features included in this release:

* Added new origins to the nozzle filters in tile configuration
* Added error handling for Cloud Controller database connection
* Improved logging


## <a id="ver-1.1.13"></a> v1.1.13

**General Availability Release Date:** December 5, 2018

Features included in this release:

* Added maximum number of events to upload to New Relic in every packet
* Tested and verified on Pivotal Platform v2.2.x and v2.3.x

Bug Fixes:

* Fixed the crash issue when HTTP connection timed out


## <a id="ver-1.1.0"></a> v1.1.0

**General Availability Release Date:** July 27, 2018

Features included in this release:

* Extends filtering capabilities of the nozzle to allow exclusion and inclusion of events with selected deployment, origin, and/or job names
* Tested and verified on Pivotal Platform v2.2.x and Pivotal Platform v2.3.x


## <a id="ver-1.0.4"></a> v1.0.4

**General Availability Release Date:** February 15, 2018

Features included in this release:

* Allows Pivotal Platform admin to set number of nozzle instances in the tile
* Collects more Application details (`org name`, `space name`, `application name`, stack guid, etc.) in ContainerMetric events
* Allows filtering of unwanted Firehose events
* Tested and verified on Pivotal Platform v2.0.x and v2.1.x


## <a id="ver-0.8.0"></a> v0.8.0 

**Initial Public Beta Release Date:** November 21, 2017

Features included in this release:

* Initial public beta release
* Added proxy support
