---
title: Using New Relic Nozzle for VMware Tanzu
owner: Partners
---

This topic describes how to use New Relic Nozzle for VMware Tanzu.


## <a id='using'></a> Using New Relic Nozzle for VMware Tanzu

Metrics and events collected by the VMware Tanzu Loggregator Firehose are visualized in dashboards in New Relic Insights and New Relic One. These dashboards allow you to filter the data by various metrics.

For example, in the **Container Metrics** dashboard, you can filter the data by **CF Origins**, **Jobs**, and **IP address**. You can then select an application ID to narrow down to the data coming only from one application. 

Furthermore, if you would like to see the performance of one application container, you can select one of the containers by clicking on the container index, filtering the data in the dashboard, and drill down to only one application container.

## <a id='insights-queries'></a> Sample Queries

**Multiple Event types** are now used to store Firehose events, including `PCFCapacity`, `PCFContainerMetric`, `PCFCounterEvent`, `PCFHttpStartStop`, `PCFLogMessage`, and `PCFValueMetric`. 

The following are some NRQL strings that can be used to extract events and metrics:

#### New Relic Nozzle v1.x:
```
SELECT count(*) FROM PcfFirehoseEvent SINCE 1 day ago FACET FirehoseEventType
```
```
SELECT count(*) FROM PcfFirehoseEvent SINCE 1 day ago FACET job TIMESERIES
```
```
SELECT count(*) FROM PcfFirehoseEvent WHERE job = 'diego_cell' SINCE 1 day ago FACET origin TIMESERIES
```
```
SELECT average(containerMetricCpuPercentage) FROM PcfFirehoseEvent FACET containerMetricApplicationId TIMESERIES
```
```
SELECT count(*) FROM PcfFirehoseEvent WHERE FirehoseEventType = 'HttpStartStop' FACET httpStatusCode
```

#### New Relic Nozzle v2.x+:
```
SELECT count(*) FROM PCFContainerMetric SINCE 1 day ago
```
```
SELECT count(*) FROM PCFLogMessage SINCE 1 day ago
```
```
SELECT count(*) FROM PCFContainerMetric SINCE 1 day ago FACET pcf.job TIMESERIES
```
```
SELECT count(*) FROM PCFValueMetric WHERE pcf.job = 'diego_cell' FACET pcf.origin SINCE 1 day ago TIMESERIES
```
```
SELECT average(metric.sum/metric.samples.count) FROM PCFContainerMetric WHERE metric.name = 'app.cpu' FACET app.id TIMESERIES
```
```
SELECT count(*) FROM PCFHttpStartStop FACET http.status
```

Events from all PCF deployments end up in `PCFCapacity`, `PCFContainerMetric`, `PCFCounterEvent`, `PCFHttpStartStop`, `PCFLogMessage`, and `PCFValueMetric`. 

If you collect events from multiple PCF environments, use `pcf.domain` and `pcf.IP** metrics` to distunguish between events from different PCF deploments (either in a `WHERE` clause or by `FACET`ing the events by `pcf.domain`).

## <a id='alerts'></a> New Relic Alerts
[NRQL alert conditions](https://docs.newrelic.com/docs/alerts/new-relic-alerts/defining-conditions/create-alert-conditions-nrql-queries) can be configured to alert on data from the New Relic Nozzle.

## <a id='insights-dashboards'></a> Obtaining Pre-Built Dashboards

Contact your New Relic representative to import pre-built nozzle dashboards to your New Relic account.
